Source: python3-lilv
Section: libs
Priority: optional
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Uploaders:
 Alessio Treglia <alessio@debian.org>,
 Jaromír Mikeš <mira.mikes@seznam.cz>
Build-Depends:
 debhelper (>= 8),
 pkg-config,
 python3-all-dev,
 python3-numpy,
 swig
Standards-Version: 3.9.3
Homepage: http://drobilla.net/software/lilv/
Vcs-Git: git://anonscm.debian.org/pkg-multimedia/lilv.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-multimedia/lilv.git

Package: python3-lilv
Section: python
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, python3-numpy
Description: library for simple use of LV2 plugins (runtime files)
 Lilv (formerly SLV2) is a library for LV2 hosts intended to make using
 LV2 Plugins as simple as possible (without sacrificing capabilities).
 .
 Lilv is the successor to SLV2, rewritten to be significantly faster
 and have minimal dependencies.
 .
 This package provides the Python bindings.
