Source: python3-lilv
Section: libs
Priority: optional
Maintainer: falkTX <falktx@falktx.com>
Build-Depends: debhelper-compat (= 13),
  meson,
  pkg-config,
  python3-all-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: python3-lilv
Section: python
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for simple use of LV2 plugins (runtime files)
 Lilv (formerly SLV2) is a library for LV2 hosts intended to make using
 LV2 Plugins as simple as possible (without sacrificing capabilities).
 .
 Lilv is the successor to SLV2, rewritten to be significantly faster
 and have minimal dependencies.
 .
 This package provides the Python bindings.
