name: pylint

on: [push, pull_request]

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  pylint:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          apt-get update -qq
          apt-get install -yqq --no-install-recommends \
            bash ca-certificates curl git openssl \
            debhelper devscripts dpkg-dev git meson pkg-config python3-all-dev python3-virtualenv libpcre3-dev
          curl -sLO https://launchpad.net/~kxstudio-debian/+archive/ubuntu/toolchain/+files/meson_1.9.1-1kxstudio2_all.deb
          dpkg -i meson_1.9.1-1kxstudio2_all.deb
      - name: Build and install python3-lilv
        run: |
          ./build-python3-lilv.sh
          dpkg -i python3-lilv_*.deb
      - name: Setup pylint
        shell: bash
        run: |
          virtualenv --system-site-packages lilvlib-env
          source lilvlib-env/bin/activate
          pip3 install pylint
      - name: Run pylint
        shell: bash
        run: |
          virtualenv --system-site-packages lilvlib-env
          source lilvlib-env/bin/activate
          pylint -E lilvlib/lilvlib.py
